.nav-ul-li:hover{
    border-bottom: 2px solid #ffef5c;
}

.nav-ul-li{
    border-bottom: 2px solid transparent;
    overflow: hidden;
    padding-bottom: .1rem;
}

#navbar-default{
    width: 75%;
    margin: 2rem auto;

}